.imagen {
    width: 50%;
    height: auto;
}

.texto-justificado {
    text-align: justify;
}

.modal-custom {
    max-width: 800px;
    margin: auto;
}

.title-article {
    font-size: 2.5em !important;
    font-weight: bold;
    text-align: justify !important;
}

.container-article {
    text-align: justify !important;
}