.imagen {
    width: 50%;
    height: auto;
}

.texto-justificado {
    text-align: justify;
}

.modal-custom {
    max-width: 800px;
    margin: auto;
}

.title-article {
    font-weight: bold;
}

.container-article {
    text-align: justify !important;
}

.file-upload-label {
    cursor: pointer;
    color: black;
    text-decoration: underline;
    font-size: 17px;
}

.bg-cardimage {
    /* background-color: #1d8dff; */
    background-color: #b1b1b1;
    border: 1px solid #000000;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.drag-and-drop {
    border: 2px dashed #cccccc;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.drag-over {
    background-color: #4c67df;
}